<div id="<%= dom_id transcript %>">
  <p>
    <strong>Transcriptable:</strong>
    <%= transcript.transcriptable_id %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= transcript.duration %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= transcript.url %>
  </p>

</div>
