<p style="color: green"><%= notice %></p>

<% content_for :title, "Phone calls" %>

<h1>Phone calls</h1>

<div id="phone_calls">
  <% @phone_calls.each do |phone_call| %>
    <%= render phone_call %>
    <p>
      <%= link_to "Show this phone call", phone_call %>
    </p>
  <% end %>
</div>

<%= link_to "New phone call", new_phone_call_path %>
