<div id="<%= dom_id recording %>">
  <p>
    <strong>Recordableable:</strong>
    <%= recording.recordableable_id %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= recording.duration %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= recording.url %>
  </p>

</div>
