<% content_for :title, "Editing recording" %>

<h1>Editing recording</h1>

<%= render "form", recording: @recording %>

<br>

<div>
  <%= link_to "Show this recording", @recording %> |
  <%= link_to "Back to recordings", recordings_path %>
</div>
